// =============================================================================
// CHECKOUT LAYOUTS
//
// 1. Needed to overwrite the element-level styles applied by sticky directive
// =============================================================================

.layout {
  @include grid-row;

  min-height: remCalc(200px);
  padding: 0 spacing('single') 5 * spacing('single');

  @include breakpoint('large') {
    padding-bottom: spacing('single');
  }
}

.layout-cart {
  @include grid-column($columns: 12);

  @include breakpoint('large') {
    width: grid-calc(5, $total-columns);
  }

  @include breakpoint('xlarge') {
    width: grid-calc(4, $total-columns);
  }

  &.is-sticky {
    position: sticky;
    top: 0;
  }
}

.layout-main {
  @include grid-column(12);

  @include breakpoint('large') {
    width: grid-calc(7, $total-columns);
  }

  @include breakpoint('xlarge') {
    width: grid-calc(8, $total-columns);
  }

  @include breakpoint('xlarge') {
    padding-right: spacing('double') * 2;
  }
}

@media print {
  @page {
    margin: spacing('single') 0;
    size: auto;
  }

  .layout-cart {
    display: block;
    float: none;
    page-break-inside: auto;
    // scss-lint:disable ImportantRule
    position: static !important; // 1
    // scss-lint:enable ImportantRule
    width: $printLayout-widthFixed;
  }

  .layout-main {
    float: none;
    width: $printLayout-widthFixed;
  }
}

.header-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ec8b25;

  .header-top-links-container {
    gap: 8px;
    display: flex;
    align-items: center;

    a {
      font-size: 16px !important;
      font-weight: 800 !important;
      font-family: 'brother-1816', sans-serif !important;
      display: none;
      border-radius: 4px !important;
      background: transparent !important;
      padding: 8px 16px !important;
      text-transform: uppercase !important;
      color: white !important;
      &:hover {
        opacity: 0.8;
      }
      &:last-child {
        color: #ec8b25 !important;
        background-color: #fff !important;
      }

      @media (min-width: 768px) {
        display: inline-block !important;
      }
    }
  }
}

.ibc-container {
  padding-left: 16px !important;
  padding-right: 16px !important;

  @media (min-width: 768px) {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  @media (min-width: 1200px) {
    padding-left: 64px !important;
    padding-right: 64px !important;
  }
}

h1.checkout-page-title {
  font-family: 'brother-1816', sans-serif !important;
  font-size: 2.5rem !important;
  color: #02176f !important;
  text-transform: none !important;
  font-weight: 800 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px !important;

  > a {
    font-family: 'brother-1816', sans-serif !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    line-height: 20px !important;
    padding: 0 16px !important;
    font-size: 1rem !important;
    background-color: #eaf2f7 !important;
    color: #2379fb !important;
    border-radius: 7px !important;
    height: 40px !important;
  }
}

.checkoutHeader.optimizedCheckout-header {
  display: none !important;
}

.ibc-address-display {
  color: #02176f;
  display: flex;
  flex-direction: column;

  .ibc-address-name {
    font-weight: 600;
  }

  .ibc-address1 {
    text-transform: uppercase;
  }
}
